
header {
  background-color: #F1F1F1;
  padding: 30px;
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  max-width: 100%;
  
}

body {
  background-image: url('../assets/bg.jpg'); // width: fit-content;
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.collectionId {
  display: inline-block;
  padding: 0px;
  text-align: center;
}
.thumbnail{
  width: 315px;
  height: 250px;
}

.topnav {
  background-color: #333;
  padding: 15px;
  text-align: center;
  list-style-type: none;
}

.topnav a {
  color: gray;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  width: fit-content;
}

.motor {
  background-color: #F1F1F1;
  padding: 5%;
  margin: 3%;
}


.mcTitle {
  text-align: left;
  
}

.Author {
  text-align: left;
}

.score {
  text-align: left;
}

.display {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: relative;
  
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #333;
  background-image: url('../assets/facebook_grey.svg'), url('../assets/instagram_grey.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center left 45%, center right 45%;
  display: inline-block;
}