html {
  border: 3px solid green;
  width: fit-content; }

header {
  background-color: #F1F1F1;
  padding: 30px;
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat; }

body {
  background-image: url("../assets/bg.jpg");
  width: fit-content;
  font-family: 'Lato', sans-serif; }

.topnav {
  background-color: #333;
  padding: 15px;
  text-align: center;
  list-style-type: none; }

.topnav a {
  color: gray;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  width: fit-content; }

ul.motor {
  margin: 10px;
  border: 2px solid black;
  text-align: left;
  background-color: #F1F1F1;
  max-width: auto; }

img {
  padding: 20px;
  height: 200px;
  width: 300px;
  display: block;
  margin: 0 auto; }

h2 {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  word-wrap: break-word; }

footer {
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat; }
